html
    head
        style 
            include ./css/style.css
        script
            include ./script/script.js
        title Simple template
    body
        include ./header.pug
        h3#textH3 Main Content 
        img(src="/image.jpg", alt = "Test Image")#IMG
        include ./footer.pug
