html
    head
        style 
            include ./css/style.css
        script
            include ./script/script.js
        title Simple template
    body
        
        include ./header.pug

        h3#textH3 Main Content 

        include ./footer.pug
